main .intro .intro_wrap .font_name > p {
    transform: translateY(120px);
}

main .details .desc_wrap .desc_item .desc_img {
    width:400px;
}


/* 각 메트릭 라인 위치 */
main .glyphs .glyphs_panel .left_preview .glyph_display {
    margin-top:-85px;
}

main .glyphs .glyphs_panel .left_preview .metric_line.ascender {
    top:-24px;
}
main .glyphs .glyphs_panel .left_preview .metric_line.cap_height {
    top: 43px;
}
main .glyphs .glyphs_panel .left_preview .metric_line.x_height {
    top: 193px;
}
main .glyphs .glyphs_panel .left_preview .metric_line.baseline {
    top: 552px;
}
main .glyphs .glyphs_panel .left_preview .metric_line.descender {
    top: 713px;
}