/* header 디자인 개별 부여 & 공통 적용 */
header {transition:all 0.6s ease-out; opacity:1;}
header.fade {display:none;}
header .gnb > li > a {color:#383838;}
.try a {color:#383838}
header .header_wrap {background:none;}
.logo img {
    height:20px;
    filter:invert(0);
}
header .header_wrap {justify-content:center;}

/* main */
main > div {
    width:100%; height:100vh;
    padding:0 80px;
    background-color:#FCFDFF;
}

/* main 1. intro */
main .intro .intro_wrap {
    height:100vh;
    display:flex; flex-direction:column;
    align-items:flex-start; justify-content:space-between;
    padding-top:150px;
}

main .intro .intro_wrap .txt_wrap > p {
    font-family: 'PPMonumentWide', sans-serif;
    letter-spacing:-0.5px; line-height:1.3;
    text-align:left;
}
main .intro .intro_wrap .txt_wrap > p:nth-child(2) {
    margin:80px 0 10px 0;
}
main .intro .intro_wrap .font_name {
    display:flex;
}
main .intro .intro_wrap .font_name > h1 {
    font-family: 'LUV_ACTA', sans-serif;
    font-size:22.5rem; line-height:1.5;
}
main .intro .intro_wrap .font_name > p {
    font-family: 'PPMonumentWide', sans-serif;
    font-size:2.25rem; color:rgb(231, 36, 39);
    line-height:1.3; letter-spacing:-0.5px;
    font-weight:900; transform:translateY(150px);
}

/* main 2. information */
main .title {
    font-family: 'PPMonumentWide', sans-serif;
    font-size:2.25rem; letter-spacing:-0.5px;
}
main .information {
    background-color:#E8EBEE;
    padding-bottom:80px;
    position:relative;
}
main .information {
    display:flex; flex-direction:column;
    align-items:flex-start; justify-content:flex-end;
}
main .information .information_wrap .table {
    width:450px; margin:40px 0 60px;
}
main .information .information_wrap .table li {
    display:flex; border-bottom:1px solid #000;
}
main .information .information_wrap .table li:last-child {
    border-bottom:0;
}
main .information .information_wrap .table li > h3 {
    width:40%; line-height:52px;
    font-size:1.25rem; font-weight:500;
}
main .information .information_wrap .table li > p {
    width:60%; line-height:52px;
    font-size:1.25rem;
}
main .information .information_wrap .description {
    width:450px; text-align:left;
    font-size:1.25rem; line-height:1.7;
}
main .information .font_icon {
    height:100%; width:30%;
    position:absolute; right:0; top:0;
}
main .information .font_icon > img {
    position: absolute;
    top: 80px;                /* 처음엔 부모 맨 위에서 시작 */
    left: 50%;             /* 가운데 정렬 */
    transform: translateX(-50%);  /* 가로 중앙 맞추기 */
    width: auto;
    height: auto;
    max-width: 100%;       /* 부모 너비 안 넘게 */
    max-height: 100%;      /* 부모 높이 안 넘게 */
    object-fit: contain;   /* 비율 유지하면서 맞추기 */
    pointer-events: none;  /* 클릭 방지 */
}
main .information .font_icon > img:last-child {
    width:420px;
}

/* main 3. slogan */
main .slogan {
    display:flex; justify-content:center; align-items:center;
    position:relative; height:max-content;
    overflow:hidden;
}
main .slogan > p {
    font-family: 'LUV_ACTA', sans-serif;
    font-size:8.75rem; line-height:1.1;
    text-align:center; padding:220px 0;
}
main .slogan .up_img {
    position:absolute;
    bottom: -100%;               /* 처음엔 부모 맨 위에서 시작 */
    left: 50%;             /* 가운데 정렬 */
    transform: translateX(-50%);  /* 가로 중앙 맞추기 */
    transition: bottom 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* main 4. details */
main .details {height:max-content; padding-bottom:200px;}
main .details .txt_wrap {
    display:flex; align-items:flex-start;
    justify-content:space-between;
    margin-bottom:60px;
}
main .details .txt_wrap .ko_en {
    width:570px; text-align:left;
}
main .details .txt_wrap .ko_en > p {
    font-size:1.25rem; line-height:1.7;
    font-weight:400;
}
main .details .txt_wrap .ko_en > p:first-child {
    margin-bottom:10px;
}

main .details .desc_wrap {
    width:100%; gap:20px;
    display:flex; flex-wrap:wrap;
}
main .details .desc_wrap .desc_item {
    width:calc((100% - 20px) / 2); height:450px;
    background-color:#F6F8FB;
    padding:45px 50px;
    position:relative;
    /* display:flex; justify-content:space-between; */
}
main .details .desc_wrap .desc_item:first-child {
    width:100%;
}
main .details .desc_wrap .desc_item .wrap {
    text-align:left;
    position:absolute; left:50px; top:45px;
}
main .details .desc_wrap .desc_item .desc_img {
    width:450px;
    position:absolute; right:0; bottom:0;
}
main .details .desc_wrap .desc_item:first-child > .desc_img {
    width:700px; right:50px; bottom:45px;
}
main .details .desc_wrap .desc_item .desc_img > img {
    width:100%;
}

main .details .desc_wrap .desc_item .wrap .num {
    font-family: 'PPMonumentWide', sans-serif;
    letter-spacing:-0.5px; line-height:1.3;
    font-size:1.25rem; color:#E72427;
}
main .details .desc_wrap .desc_item .wrap h3 {
    font-family: 'PPMonumentWide', sans-serif;
    letter-spacing:-0.5px; line-height:1.3;
    font-size:1.5rem;
}
main .details .desc_wrap .desc_item .wrap p:last-child {
    font-size:1.25rem; font-weight:400;
    line-height:1.6; margin-top:10px;
}

/* main 5. details_red */
main .details_red {
    background-color:#E72427;
    height: max-content;
    padding:80px 0;
}
main .details_red .title {
    margin-bottom:220px;
    padding-left:80px;
}
main .details_red .font_area {
    text-align:center;
}
main .details_red .font_area > p {
    font-family: 'LUV_ACTA', sans-serif;
    font-size:6.875rem; line-height:170px;
}
main .details_red .font_area > p:nth-child(2) {
    border-top:2px solid #000;
    border-bottom:2px solid #000;
}
main .details_red > p {
    text-align:center; font-size:1.25rem;
    font-weight:400; line-height:1.6; margin-top:180px;
}

/* main 5. typing */
main .typing {
    padding:80px;
    background-color:#000000;
}
main .typing .top {
    display:flex; align-items:center;
    justify-content:space-between;

}
main .typing .top button {
    border:none; background:none;
}
main .typing .top .control_panel {
    display:flex; gap:100px;
}
main .typing .top .control_panel .toggle_area {
    display:flex; align-items:center;
}